@import '../../style/App.scss';

.hero {
  padding-top:50vh;
  height: 100vh;
  width: 100%;
  position: relative; 
  background-image: linear-gradient( rgba(36, 0, 25, 0.452), rgba(37, 1, 26, 0.452) ), url("https://images.idgesg.net/images/article/2018/08/gettyimages-1012716694-100768243-large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#haley {
  color: rgb(235, 161, 173);
}

h1 {
  font-size: 50px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}


