@import '../../style/App.scss';

#about {
  padding: 60px 0;
}

.container {
  text-align: center;
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(235, 161, 173);
  font-size: x-large;
}

p {
  padding-right:10px;
  padding-left: 10px;
}

#description {
  line-height: 1.5;
  font-size: 12px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 40px;

}

#progress {
  margin-top: 60px;
  margin-bottom:60px;
}



@media screen and (max-width: 990px) {
  #about {
    text-align: center;
  }
}